/* 486619798266192 */

@media only screen and (max-width: 800px) {
    .forTabs {
        display: block;
      }
      .forWeb {
        display: none;
      }
}

@media only screen and (max-width: 768px) {
    .forTabs {
        display: block;
      }
      .forWeb {
        display: none;
      }
}


@media only screen and (max-width: 425px) {
    .content {
        margin-bottom: 20px;
    }
    .content p {
        font-size: 13px;
        margin-bottom: 30px !important;
    }
    .contactBtn, .img-wrap {
        margin-left: 0;
    }
    .infoDetails {
        margin-top: 15px;
    }
    .headings {
        font-size: 15px;
    }
    .colleagueWrap img {
        width: 300px;
        height: 250px;
    }
    .aboutImg img {
        width: 300px;
    }
    .card {
        width: 18rem !important;
        margin-left: 55px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 13px;
    }
    .mobileStyle {
        margin-bottom: 20px;
    }
    .teamImgWrap {
        margin-left: 50px;
    }
    .colleagueWrap img {
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .teamImgWrapper {
        margin-left: 30px;
    }
    .benefits {
        margin-top: 10px;
    }
    .testimonials {
        font-size: 13px;
    }
    .HerdroServices {
        padding: 0;
    }
    .parent {
        display: unset;
    }
    .carousel-indicators {
        display: none !important;
    }
    .testimonialwrapper {
        padding-top: 0 !important;
    }
    .font-weight-bold {
        font-weight: 200 !important;
    }
    .forTabs {
        display: none;
      }
      .forWeb {
        display: block;
      }
      .herdrosocials li {
         display: block;
      }
      .clientWrapper {
          margin-left: 30px;
      }
}


@media only screen and (max-width: 375px) {
    .clientWrapper {
        margin-left: 0;
    }
    .content {
        margin-bottom: 20px;
    }
    .content p {
        font-size: 13px;
        margin-bottom: 30px !important;
    }
    .contactBtn, .img-wrap {
        margin-left: 0;
    }
    .infoDetails {
        margin-top: 15px;
    }
    .headings {
        font-size: 15px;
    }
    .colleagueWrap img {
        width: 300px;
        height: 250px;
    }
    .aboutImg img {
        width: 300px;
    }
    .card {
        width: 18rem !important;
        margin-left: 30px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 13px;
    }
    .mobileStyle {
        margin-bottom: 20px;
    }
    .teamImgWrap {
        margin-left: 50px;
    }
    .colleagueWrap img {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .teamImgWrapper {
        margin-left: 30px;
    }
    .benefits {
        margin-top: 10px;
    }
    .testimonials {
        font-size: 13px;
    }
    .HerdroServices {
        padding: 0;
    }
    .parent {
        display: unset;
    }
    .carousel-indicators {
        display: none !important;
    }
    .testimonialwrapper {
        padding-top: 0 !important;
    }
    .font-weight-bold {
        font-weight: 200 !important;
    }
    .forTabs {
        display: none;
      }
      .forWeb {
        display: block;
      }
      .herdrosocials li {
         display: block;
      }
}

@media only screen and (max-width: 360px) {
    .clientWrapper {
        margin-left: 0;
    }
    .teamImgWrapper {
        margin-left: 0;
    }
    .content {
        margin-bottom: 20px;
    }
    .content p {
        font-size: 13px;
        margin-bottom: 30px !important;
    }
    .contactBtn, .img-wrap {
        margin-left: 0;
    }
    .infoDetails {
        margin-top: 15px;
    }
    .headings {
        font-size: 15px;
    }
    .colleagueWrap img {
        width: 300px;
        height: 250px;
    }
    .aboutImg img {
        width: 300px;
    }
    .card {
        width: 18rem !important;
        margin-left: 0;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 13px;
    }
    .mobileStyle {
        margin-bottom: 20px;
    }
    .teamImgWrap {
        margin-left: 50px;
    }
    .colleagueWrap img {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .benefits {
        margin-top: 10px;
    }
    .testimonials {
        font-size: 13px;
    }
    .HerdroServices {
        padding: 0;
    }
    .parent {
        display: unset;
    }
    .carousel-indicators {
        display: none !important;
    }
    .testimonialwrapper {
        padding-top: 0 !important;
    }
    .font-weight-bold {
        font-weight: 200 !important;
    }
    .forTabs {
        display: none;
      }
      .forWeb {
        display: block;
      }
      .herdrosocials li {
         display: block;
      }
}


@media only screen and (max-width: 320px) {
    .clientWrapper {
        margin-left: 0;
    }
    .teamImgWrapper {
        margin-left: 0;
    }
    .content {
        margin-bottom: 20px;
    }
    .content p {
        font-size: 13px;
        margin-bottom: 30px !important;
    }
    .contactBtn, .img-wrap {
        margin-left: 0;
    }
    .infoDetails {
        margin-top: 15px;
    }
    .headings {
        font-size: 15px;
    }
    .colleagueWrap img {
        width: 300px;
        height: 250px;
    }
    .aboutImg img {
        width: 300px;
    }
    .card {
        width: 18rem !important;
        margin-left: 0;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 13px;
    }
    .mobileStyle {
        margin-bottom: 20px;
    }
    .teamImgWrap {
        margin-left: 65px;
    }
    .colleagueWrap img {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .benefits {
        margin-top: 10px;
    }
    .testimonials {
        font-size: 13px;
    }
    .parent {
        display: unset;
    }
    .carousel-indicators {
        display: none !important;
    }
    .testimonialwrapper {
        padding-top: 0 !important;
    }
    .font-weight-bold {
        font-weight: 200 !important;
    }
    .forTabs {
        display: none;
      }
      .forWeb {
        display: block;
      }
      .herdrosocials li {
         display: block;
      }
}