@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.nav-link {
  color: #000;
}
.row-wrapper {
  border-top: 2px solid #e5e5e5;
  padding-bottom: 3px;
}
.address {
  font-size: 13px;
}
.footer {
  background-color: #f0f4fb;
  padding: 30px 0;
}
.footer li {
  list-style: none;
}
.footer a {
  color: #000;
}
.footerContactInfo li, .footerNavigation li, .footerServices li {
  list-style: none;
  margin: 5px;
  font-size: 13px;
}
.HerdroSocials {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}
.HerdroSocials li {
  display: inline-block;
  margin: 5px;
}
.navbar {
    background-color: #f0f4fb;
    box-shadow: 0 10px 30px 0 rgb(33,33,33,0.15);
}
.navbar-brand img{
    width: 100px;
}

.nav-item {
    margin-left: 10px;
}

.Herdroethos {
    background-color: #f0f4fb;
    padding: 30px 0;
}
.headings {
    font-weight: bold;
    margin-bottom: 10px;
}
.content p {
    line-height: 25px;
    font-size: 15px;
}
.img-wrap img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.contactBtn {
    background-color: #4e73df;
    color: #fff;
    padding: 12px 30px;
    border-radius: 2px;
}
.contactBtn:hover {
    color: #fff;
    text-decoration: none;
}
.HerdroTestimonial {
    background-color: #f0f4fb;
    padding: 30px 0;
}
.services, .HerdoNiche, .HerdroServices, .aboutHerdro, .HerdoClients, .HerdroTeam, .contactHerdro {
    background: #f8f9fc;
    padding: 30px 0;
}
.forTabs {
  display: none;
}
.contactHerdro {
  background: #fff;
  padding: 30px 0;
  box-shadow: 0 10px 30px 0 rgb(33,33,33,0.15);
}
.form-wrap {
  border: 1px solid #4e73df;
  padding: 30px 30px;
  border-radius: 3px;
}
.sendBtn {
  width: 150px;
}
.infoList li{
  list-style: none;
}
.card {
    border: none !important;
    box-shadow: 0px 3px 9px rgba(113, 117, 123, 0.4);
    cursor: pointer;
}
.card-title {
    border-left: 5px solid #4e73df;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}
.card-text {
    font-size: 15px;
    line-height: 25px;
}

.colleagueWrap img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}
.benefits li {
    list-style: none;
    display: block;
    clear: both;
}
.iconDetails {
    margin:0 2%;
    float:left;
    padding: 3px;
    color: #fff;
    border-radius: 50%;
    background: #4e73df;
}
.container2 {
    width:100%;
    height:auto;
    padding:1%;
}
.text {
    float:left;
}
.text p {
    width:100%;
    float:left;
    font-size: 12px;
}
.about-Herdro {
    line-height: 25px;
    font-size: 15px;
}
.aboutImg img {
    width: 400px;
    height: 300px;
}
.servicewrap, .clientwrap {
    background: #fff;
    box-shadow: 0px 3px 9px rgba(113, 117, 123, 0.4);
    text-align: center;
    padding: 20px;
}
.softwareDetails {
  margin-bottom: 30px;
}
#client-testimonial-carousel {min-height: 200px;}

.clientImg {
  width: 100px;
  height: 100px;
}
.controlIcon {
  color: #000;
}
.prevIcon {
  margin-top: -6px;
}
.clientImgWrap {
  margin-top: -20px;
}
.clientImgWrap small {
  color: #000;
}
blockquote {
  color: #000;
  font-size: 15px !important;
}
.carousel-indicators {
  bottom: -20px !important;
}
.carousel-indicators li {
  background: #000 !important;
}
.clientWrapper {
  width: 300px;
}
.clients {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 10px;
}
.companies_logo-box, .service-box {
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(136,153,166,.2),0 0 3px 1px rgba(136,153,166,.15);
  display: flex;
  flex-basis: calc(33.33333% - 20px);
  flex-grow: 0;
  flex-shrink: 0;
  height: 70px;
  justify-content: center;
  margin: 0 0 30px;
  padding: 0 25px;
}
.footerbox {
  align-items: center;
  display: flex;
  flex-basis: calc(25.333% - 20px);
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 0 30px;
  padding: 0 25px;
}
.teambox {
  align-items: center;
  display: flex;
  flex-basis: calc(25.333% - 20px);
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 0 30px;
  padding: 0 25px;
}
.companies__logo {
  display: inline-block;
  height: 100%;
  max-height: 40px;
  max-width: 100%;
  width: auto;
}
.serviceList {
  text-align: center;
  align-items: center;
}
.companies__logo.small {
  height: 30px;
}
.teamImgWrapper img {
  width: 200px;
  height: 200ppx;
  border-radius: 3px;
}
.title {
  text-align: center;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.infoDetails {
  font-size: 14px;
}
.box {
  width: 25%;
  box-sizing: border-box;
}
.carousel-control-next, .carousel-control-prev {
  width: auto !important;
}
.footerInfo {
  font-weight: 200;
  margin-top: 10px;
  font-size: 13px;
}
.footerInfo li {
  display: block;
  margin: 5px;
}
.footer-bottom {
  margin-top: 20px;
}
.box span {
  font-size: 13px;
}
.herdrosocials {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.herdrosocials li {
  display: inline-block;
}